.painel-container {
    min-width: 700px;
    background-color: #cecece;
    height: 300px;
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

.painel-container button {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin: 10px;
    transition-duration: .5s;
    border: 1px solid white;
}

#btn-1, #btn-7 {
    margin-top: 160px;
}

#btn-2, #btn-6 {
    margin-top: 90px;
}

#btn-3, #btn-5 {
    margin-top: 45px;
}

#btn-4 {
    margin-top: 10px;
}

figcaption {
    text-align: center;
}

.bloco-2 .caixa p {
    color: white;
}

.tooltip-inner{
    max-width: 400px;
    font-size: 16px;
}

/* Interativo drag n drop */

.card {
    display: inline-block;
    height: 125px;
    width: 125px;
    margin: 5px;
}

.card p {
    color: black !important;
}

.ui-droppable {
    height: 125px;
    width: 125px;
    background-color: transparent;
    border: 3px dashed white;
    color: white;
    display: inline-block;
    margin: 15px;
    text-align: center;
    padding-top: 28px;
}

.ui-droppable p {
    font-size: 18px;
}

#slots .row, #cardPile {
    display: flex;
    justify-content: center;
}

#slot-3, #slot-6 {
    border-radius: 100%;
}

#slot-2, #slot-5 {
    border-radius: 20%;
}

table.sesc {
    margin: 1em auto;
}