.bloco.estilo1 {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
    background-color: #00838d;
    padding-bottom: 20px;
    padding-top: 20px;
    transform: skewY(-3deg);
    padding-top: 50px;
}
.bloco.estilo1 .container {
    transform: skewY(3deg);
}

.estilo1 .caixa {
    border-color: white;
}

.bloco {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 5px;
}

.bloco .container p, .bloco .container h2, .bloco .container h3 {
    color: #333;
}

.bloco.estilo1 .container p, .bloco.estilo1 .container h2, .bloco.estilo1 .container h3 {
    color: white;
}

.bloco.estilo1::before, .bloco.estilo1::after {
    display: none;
    background-image: unset;
    background-color: #00838d;
    height: 100px;
    /* transform: skewY(6deg); */
}

.bloco-parallax {
    width: 100%;
    height: 700px;
}

#bloco-parallax-1 {
    background-image: url('../../img/pagina1/pg1-parallax1.png');
}

.painel-container {
    width: 100%;
    background-image: url('../../img/pagina1/pg1-painelbg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 500px;
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.painel-container button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px;
    transition-duration: .5s;
    border: 1px solid white;
}

#btn-1 {
    margin-top: 300px;
    margin-left: 30px;
    background-image: url('../../img/pagina1/pg1-painel-bt1.png');
    background-position: center;
}
#btn-7 {
    margin-top: 300px;
    margin-right: 30px;
    background-image: url('../../img/pagina1/pg1-painel-bt7.png');
    background-position: center;
}
#btn-2 {
    margin-top: 140px;
    margin-left: -100px;
    background-image: url('../../img/pagina1/pg1-painel-bt2.png');
    background-position: center;
}
#btn-6 {
    margin-top: 140px;
    margin-right: -100px;
    background-image: url('../../img/pagina1/pg1-painel-bt6.png');
    background-position: center;
}
#btn-3 {
    margin-top: 30px;
    margin-left: -30px;
    background-image: url('../../img/pagina1/pg1-painel-bt3.png');
    background-position: center;
}
#btn-5 {
    margin-top: 30px;
    margin-right: -30px;
    background-image: url('../../img/pagina1/pg1-painel-bt5.png');
    background-position: center;
}
#btn-4 {
    background-image: url('../../img/pagina1/pg1-painel-bt4.png');
    background-position: center;
}
figcaption {
    text-align: center;
}

.bloco-2 .caixa p {
    color: white;
}

.tooltip-inner{
    max-width: 400px;
    font-size: 16px;
}

/* Interativo drag n drop */

.card {
    display: inline-block;
    height: 125px;
    width: 125px;
    margin: 5px;
}

.card p {
    color: black !important;
}

.ui-droppable {
    height: 125px;
    width: 125px;
    background-color: transparent;
    border: 3px dashed white;
    color: white;
    display: inline-block;
    margin: 15px;
    text-align: center;
    padding-top: 28px;
}

.ui-droppable p {
    font-size: 18px;
}

#slots .row, #cardPile {
    display: flex;
    justify-content: center;
}

#slot-3, #slot-6 {
    border-radius: 100%;
}

#slot-2, #slot-5 {
    border-radius: 20%;
}

table.sesc {
    margin: 1em auto;
}

.ilustra-1-container {
    text-align: center;
    float: right;
    margin-top: 30px;
}

.card-sesc {
    width: 850px;
    height: 614px;
    background-image: url('../../img/pagina1/pg1-figura2e3.png');
    display: block;
    margin: 15px auto;
    padding-top: 100px;
    padding-left: 50px;
}

.card-sesc .hidden {
    display: none;
}
/* Jogo memoria */
.jogoMemoria{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #00838D;
    padding: 20px 0px 10px;

}
.cartaMemoria{
    
    height: 150px;
    width: 150px;
    margin: 5px;
	border-radius: 6px;
	-webkit-perspective: 600px;
	perspective: 600px;
	/* position: relative;
	font-size: 1em; */
	cursor: pointer;

}

.ladoFrente{
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: inherit;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 6px;
}
.ladoTras{
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: inherit;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.1);*/
	-webkit-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 15px;
}
.cartaMemoria.flip .ladoFrente {
    z-index: 900;
    background: #333;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
	/*box-shadow: 0 4px 14px 0 rgba(0,0,0,.17);*/
}
.cartaMemoria.flip .ladoTras {
    z-index: 1000;
    /*background: #80868d;*/
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}
.cartaMemoria:not(.flip) > div.ladoFrente:hover{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 10px 27px rgba(0, 0, 0, 0.2);
}
.cartaMemoria.flip > div.ladoTras:hover{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 10px 27px rgba(0, 0, 0, 0.2);
}
.cartaMemoria.acertou > div.ladoTras{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 2px 5px rgba(23, 226, 0, 0.6);
}
.cartaMemoria.acertou > div.ladoTras:hover{
	transform: rotate3d(0,45,0,15deg);
	box-shadow: -8px 2px 15px rgba(23, 226, 0, 0.75);
}
.cartaMemoria.errou > div.ladoTras{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 2px 5px rgba(226, 0, 0, 0.6);
}
.ladoTras > div:first-child{ padding-top:  20px}
/* fim jogo memoria */