.bloco.estilo1 {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
    background-color: #00838d;
    padding-bottom: 20px;
    padding-top: 100px;
    /* transform: skewY(-3deg); */
    padding-top: 50px;
}
.bloco.estilo1 .container {
    padding-top: 50px;
    /* transform: skewY(3deg); */
}

.estilo1 .caixa {
    border-color: white;
}

.bloco.estilo3 {
    background-color: #004f53;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
}

.bloco.estilo2 {
    background-color: #ff9200;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
}

.bloco {
    background: unset;
    background-image: url('../../img/pagina1/estampa.png');
    background-repeat: no-repeat;
    background-size: 15% 2000px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 5px;
}

.bloco .container p, .bloco .container h2, .bloco .container h3, .bloco .container .figcaption, .bloco .container {
    color: #333;
}

.bloco.estilo1 .container p, .bloco.estilo1 .container h2, .bloco.estilo1 .container h3, .bloco.estilo1 .container figcaption {
    color: white;
}

.bloco.estilo1::before, .bloco.estilo1::after,
.bloco.estilo2::before, .bloco.estilo2::after,
.bloco.estilo3::before, .bloco.estilo3::after {
    display: none;
    background-image: unset;
    background-color: #00838d;
    height: 100px;
    /* transform: skewY(6deg); */
}

.bloco-parallax {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 10;
    background-size: cover;
    background-position: center;
}

#bloco-parallax-1 {
    background-image: url('../../img/pagina1/pg1-parallax-1.png');
}
#bloco-parallax-2 {
    background-image: url('../../img/pagina1/pg1-parallax-2.png');   
}
#bloco-parallax-3 {
    background-image: url('../../img/pagina1/pg1-parallax-3.png');    
}
#bloco-parallax-4 {
    background-image: url('../../img/pagina2/pg2-parallax1.png');    
}
#bloco-parallax-5 {
    background-image: url('../../img/pagina2/pg2-Parallax2.png');    
}
#bloco-parallax-6 {
    background-image: url('../../img/pagina3/pg3-parallax1.png');    
}
#bloco-parallax-7 {
    background-image: url('../../img/pagina3/pg3-parallax2.png');
    margin-top: -30px;
}
#bloco-parallax-8 {
    background-image: url('../../img/pagina4/pg4-Parallax1.png');
    margin-top: -30px;
}
#bloco-parallax-9 {
    background-image: url('../../img/pagina4/pg4-Parallax2.png');
    margin-top: -30px;
}
#bloco-parallax-10 {
    background-image: url('../../img/pagina5/pg5-parallax1.png');
    margin-top: -10px;
}
#bloco-parallax-11 {
    background-image: url('../../img/pagina5/pg5-parallax2.png');
    margin-top: -160px;
}

#bloco-1 {
    margin-bottom: -200px;
    padding-bottom: 130px;
}

#bloco-2 {
    padding-top: 100px;
    margin-top: -140px;
    padding-bottom: 140px;
    margin-bottom: -140px;
}
#bloco-3 {
    margin-top: -140px;
    padding-top: 100px;
}
#bloco-4 {
    padding-bottom: 0;
}

#bloco-pg3-1 {
    margin-top: -140px;
    padding-top: 100px;
}

#bloco-pg4-1 {
    margin-bottom: -150px;
}

#bloco-pg4-2 {
    margin-top: -150px;
}
#bloco-pg4-3 {
    padding-top: 100px;
    margin-top: -100px;
}
#bloco-pg5-2 {
    margin-top: -150px;
    padding-top: 150px;
}
#bloco-pg5-3 {
    margin-top: -140px;
    padding-top: 100px;
}

.rellax {
    width: 20%;
}

.img-rellax-1 {
    position: absolute;
    top: 50px;
}
.img-rellax-2 {
    position: absolute;
    top: 350px;
    right: 0;
}
.img-rellax-3 {
    position: absolute;
    top: 600px;
    z-index: 10;
}
.img-rellax-4 {
    position: absolute;
    top: 800px;
    right: 0;
    z-index: 10;
}
#bloco-4 {
    position: relative;
}
.img-rellax-5 {
    position: absolute;
    top: 800px;
    z-index: 10;
}
.img-rellax-6 {
    position: absolute;
    top: 800px;
    right: 0;
    z-index: 10;
}
.img-rellax-7 {
    position: absolute;
    width: 18%;
    bottom: 0;
    z-index: 10;
}
.img-rellax-8 {
    position: absolute;
    bottom: -400px;
    right: 0;
    z-index: 10;
}

h3 { font-size: 32px; }

.painel-container {
    width: 100%;
    background-image: url('../../img/pagina1/pg1-painelbg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 500px;
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
}

.painel-container button {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 10px;
    transition-duration: .5s;
    background-color: transparent;
    background-size: contain;
    border: none;
}

#btn-1 {
    margin-top: 300px;
    margin-left: 30px;
    background-image: url('../../img/pagina1/pg1-painel-bt1.png');
    background-position: center;
    
}
#btn-7 {
    margin-top: 300px;
    margin-right: 30px;
    background-image: url('../../img/pagina1/pg1-painel-bt7.png');
    background-position: center;
}
#btn-2 {
    margin-top: 140px;
    margin-left: -100px;
    background-image: url('../../img/pagina1/pg1-painel-bt2.png');
    background-position: center;
}
#btn-6 {
    margin-top: 140px;
    margin-right: -100px;
    background-image: url('../../img/pagina1/pg1-painel-bt6.png');
    background-position: center;
}
#btn-3 {
    margin-top: 30px;
    margin-left: -30px;
    background-image: url('../../img/pagina1/pg1-painel-bt3.png');
    background-position: center;
}
#btn-5 {
    margin-top: 30px;
    margin-right: -30px;
    background-image: url('../../img/pagina1/pg1-painel-bt5.png');
    background-position: center;
}
#btn-4 {
    background-image: url('../../img/pagina1/pg1-painel-bt4.png');
    background-position: center;
}
figcaption {
    text-align: center;
}

.bloco-2 .caixa p {
    color: white;
}

.tooltip-inner{
    max-width: 400px;
    font-size: 16px;
}

.estilo1 .container .caixa {
    background-color: white;
}

.bloco.estilo1 .container .caixa p {
    color: #333;
}

.bloco.estilo3 p, .bloco.estilo3 h4, .bloco.estilo3 figcaption{
    color: white;
}

.container .caixa {
    background-color: #00838D;
    color: white;
    border-top-right-radius: 190px;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 180px;
    border: none;
    padding: 30px;
    box-shadow: 3px 3px 6px #333;
}

.bloco .container .caixa p {
    color: white;
}

.caixa.icone {
    padding-left: 140px;
}

.icone.dica::before {
    background-image: url('../../img/pagina1/pg1-dica-ico.png');
    height: 192px;
    width: 249px;
    background-size: contain;
    background-color: transparent;
    margin-top: -50px;
    margin-left: 20px;
}

.icone.saiba-mais::before {
    background-image: url('../../img/pagina1/pg1-saiba-ico.png');
    height: 192px;
    width: 249px;
    background-size: contain;
    background-color: transparent;
    margin-top: -50px;
    margin-left: 20px;
}

.icone.pesquisa::before {
    background-image: url('../../img/pagina4/pg4-pesquisar-ico.png');
    height: 182px;
    width: 239px;
    background-size: contain;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 20px;
}

#figura-9 {
    background: linear-gradient(0deg, #ff9200 50%, #fff 50%);
    width: 83%; 
    padding-left: 170px;
    box-shadow: 0px 9px 6px -6px #333;
}

#figura-9 img {
    max-width: 900px;
}

.letra-cv {
    background-color: #008086;
    display: block;
    width: 420px;
    margin: 30px auto;
    text-align: center;
    border-radius: 30px;
    box-shadow: 4px 4px 9px #333 inset;
}

.bloco .container .letra-cv p {
    color: white;
    display: block;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
}

.letra-cv p b {
    font-size: 26px;
    line-height: 1em;
}

/* Interativo drag n drop */

.card {
    display: inline-block;
    height: 125px;
    width: 125px;
    margin: 5px;
}

.card p {
    color: black !important;
}

.ui-droppable {
    height: 125px;
    width: 125px;
    background-color: transparent;
    border: 3px dashed white;
    color: white;
    display: inline-block;
    margin: 15px;
    text-align: center;
    padding-top: 28px;
}

.ui-droppable p {
    font-size: 18px;
}

#slots .row, #cardPile {
    display: flex;
    justify-content: center;
}

#slot-3, #slot-6 {
    border-radius: 100%;
}

#slot-2, #slot-5 {
    border-radius: 20%;
}

table.sesc {
    margin: 1em auto;
}

.ilustra-1-container {
    text-align: center;
    float: right;
    margin-top: 30px;
}

.card-sesc {
    width: 850px;
    height: 614px;
    background-image: url('../../img/pagina1/pg1-figura2e3.png');
    display: block;
    margin: 15px auto;
    padding-top: 100px;
    padding-left: 50px;
}

.card-sesc:hover {
    cursor: pointer;
}

.card-sesc .hidden, figcaption.hidden {
    display: none;
}

figcaption.active, figcaption.hidden {
    margin-top: -48px;
}

.tooltip-link {
    color: #333;
    text-decoration-style: dashed;
}

.estilo1 .tooltip-link {
    color: #cecece;
}

.bloco.estilo1 .bg-card, .bloco.estilo2 .bg-card {
    background-color: white;
    color: #333;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 5px 10px 10px #333;
    margin: 30px auto;
}

.bloco.estilo1 .bg-card-f6 p, .bloco.estilo1 .bg-card-f6 h3 {
    color: #333;
}

.bloco.estilo1 .bg-card-f6 p {
    text-align: justify;
}
.bloco.estilo1 .bg-card-f6 h3 {
    font-size: 28px;
}

.pagination {
    justify-content: center;
}

/* Jogo memoria */
.jogoMemoria{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    background-color: #fff;
	border-radius: 50px;
    border: 3px solid #00838D;
    padding: 30px 0px 10px;
}
.cartaMemoria {
    height: 150px;
    width: 120px;
    margin: 5px 20px;
	border-radius: 6px;
	-webkit-perspective: 600px;
	perspective: 600px;
	/* position: relative;
	font-size: 1em; */
	cursor: pointer;
}

.ladoFrente{
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: inherit;
	text-align: center;
	box-shadow: 0 0px 13px rgba(0,0,0,0.3);
	-webkit-transform: rotateX(0) rotateY(0);
	transform: rotateX(0) rotateY(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 6px;
}
.ladoTras{
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: inherit;
	-webkit-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	border-radius: 15px;
}
.cartaMemoria.flip .ladoFrente {
    z-index: 900;
    background: #333;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}
.cartaMemoria.flip .ladoTras {
    z-index: 1000;
    -webkit-transform: rotateX(0) rotateY(0);
    transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}
.cartaMemoria:not(.flip) > div.ladoFrente:hover{
	transform: rotate3d(0,45,0,15deg);
	box-shadow: -8px 10px 27px rgb(0 0 0 / 40%);
}
.cartaMemoria.flip > div.ladoTras:hover{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 10px 27px rgba(0, 0, 0, 0.2);
}
.cartaMemoria.acertou > div.ladoTras{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 2px 24px rgba(23, 226, 0, 0.75);
}
.cartaMemoria.acertou > div.ladoTras:hover{
	transform: rotate3d(0,45,0,15deg);
	box-shadow: -8px 2px 24px rgba(23, 226, 0, 0.75);
}
.cartaMemoria.errou > div.ladoTras{
	transform: rotate3d(0,45,0,10deg);
	box-shadow: -8px 2px 24px rgba(226, 0, 0, 0.75);
}
.ladoTras > div:first-child{ padding-top:  20px}
.icone.destaqueJogoMemoria::before{
    background-image: url('../../img/pagina2/pg2-praticar-ico.png');
}
.caixa.icone.destaqueJogoMemoria{
    background-color: #00838D;
    color: #fff;
    padding: 15px 30px 10px 160px;
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 20px;
}
.destaqueJogoMemoria h5{
    font-size: 1.15rem;

}
.icone.destaqueJogoMemoria::before{
    width: 137px;
    height: 187px;
    top: -100px;
    left: 0px;
}
.bg-card-f6{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 90px;
}
.bloco.estilo1, .bloco.estilo2, .bloco.estilo3 {
    margin-bottom: 0px;
}
/* .bloco.estilo1 .container .bg-fontehistorica p, .bloco.estilo1 .container .bg-fontehistorica h2, .bloco.estilo1 .container .bg-fontehistorica h3{
    color: black;
} */

/* fim jogo memoria */
/* fim jogo memoria */

@media (max-width: 1280px) {
    .bloco,
    .bloco.estilo1,
    .bloco.estilo2,
    .bloco.estilo3 {
        background-size: 10% 2000px;
    }
    .rellax {
        width: 16%;
    }
}

@media (max-width: 1090px) {
    .bloco,
    .bloco.estilo1,
    .bloco.estilo2,
    .bloco.estilo3 {
        background-size: 6% 2000px;
    }
}

@media (max-width: 870px) {
    .card-sesc {
        background-image: unset;
        background-color: white;
        padding: 15px 20px;
        height: auto;
        min-height: 340px;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 15px auto;
        border-radius: 30px;
    }

    figcaption.hidden, figcaption.active {
        margin-top: 0;
    }
}

@media (max-width: 760px) {
    .ilustra-1-container {
        float: unset;
    }
    .painel-container {
        height: 700px;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 400px;
    }
    #btn-1, #btn-2, #btn-3, #btn-4, #btn-5, #btn-6, #btn-7 {
        margin: 5px;
    }
}

@media (max-width: 1000px) {
    .bloco,
    .bloco.estilo1,
    .bloco.estilo2,
    .bloco.estilo3 {
        background-image: unset;
    }
}

@media (max-width:500px) {
    .bloco,
    .bloco.estilo1,
    .bloco.estilo2,
    .bloco.estilo3 {
        background-image: unset;
    }
    .card-sesc {
        width: 300px;
        height: 214px;
        background-image: unset;
        background-color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
    }
    figcaption.active, figcaption.hidden {
        margin-top: unset;
    }

    
}
