* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container.noite {
    background-image: url('../../img/tela-inicial/pedra-noite.png');
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/tela-inicial/pedra-dia.png');
    background-position: bottom center;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
}

.background-1 {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../../img/tela-inicial/dia.jpg');
    background-position:0 0;
    background-size: 2952px 1304px;
    animation-name: bg-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    animation-timing-function: linear;
    
    
}
.background-2 {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../../img/tela-inicial/noite.jpg');
    background-position:0 0;
    background-size: 2800px 1400px;
    animation-name: bg-anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    animation-timing-function: linear;   
}

@keyframes bg-anim {
    0% {background-position: 0 0;} 
    50% {background-position: 50% 50%;}
    100% {background-position: 100% 100%;}
}